kb-fv.fes-credo.de {
        request_body {
                max_size 500MB
        }

        header {
                #Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
                #X-Content-Type-Options "nosniff"
                #X-XSS-Protection "1; mode=block"
                #X-Robots-Tag "noindex, nofollow"
                #X-Download-Options "noopen"
                #X-Permitted-Cross-Domain-Policies "none"
                #X-Frame-Options "DENY"
                #Referrer-Policy "no-referrer"
                #Permissions-Policy "geolocation=(),midi=(),sync-xhr=(),microphone=(),camera=(),magnetometer=(),gyroscope=(),fullscreen=(s>
                # Server name removing
                -Server
        }
        encode gzip
        reverse_proxy frontend:80
}